<h1>Table page</h1>
<div>
    <table>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].username %>
                </td>
            </tr>
            <% } %>
    </table>
</div>